*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  font-family: "Poppins", sans-serif;
  background-color:'#fafafa';
  color: #324B50;
}

::-webkit-scrollbar{
  display: none;
}

@keyframes fade-in {
  from {
      opacity: 0;
      transform: scale(0.95);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in-out forwards;
}

html {
  scroll-behavior: smooth;
}



/* TOOLTIP  */

.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0
}

[data-tippy-root] {
  max-width: calc(100vw - 10px)
}

.tippy-box {
  position: relative;
  background-color: #E9EAEF;
  color: #111928;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
  font-weight: 600;
  width: fit-content;
  max-width: 237px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  white-space: normal;
  outline: 0;
  border: 1px solid #d9d9dc;
  transition-property: transform, visibility, opacity
}
.tippy-box[data-placement^=top]>.tippy-arrow {
  bottom: 0
}
.tippy-box[data-placement^=top]>.tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top
}
.tippy-box[data-placement^=bottom]>.tippy-arrow {
  top: 0
}
.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom
}
.tippy-box[data-placement^=left]>.tippy-arrow {
  right: 0
}
.tippy-box[data-placement^=left]>.tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left
}
.tippy-box[data-placement^=right]>.tippy-arrow {
  left: 0
}
.tippy-box[data-placement^=right]>.tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right
}
.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #E9EAEF;
  
}
.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid
}
.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1
}



.text-stroke-3 {
  text-shadow: -1px -1px 0 lightgray, 1px -1px 0 lightgray, -1px 1px 0 lightgray, 1px 1px 0 lightgray;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #E54B3C;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

input[type='range']::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #E54B3C;
  border-radius: 50%;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 2px;
  background: transparent;
}

input[type='range']::-moz-range-track {
  height: 2px;
  background: transparent;
}